.about {
  width: 100%;

  color: $about-color;

  background-image: url("../img/about-year.png");
  background-repeat: no-repeat;
}

.about__container {
  padding: 0 180px;
}

.about h2 {
  margin: 0 0 18px 0;

  font-family: $font-family-ui;
  font-size: 36px;
  line-height: 51px;
}

.about p {
  margin: 0 0 10px 0;

  font-size: 16px;
  line-height: 22px;
}
