.about {
  width: 100%;

  color: $about-color;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 189px;
  max-width: 1170px;

  background-image: url("../img/about-year.png");
  background-size: auto 307px;
  background-repeat: no-repeat;
  background-position: -14px 6px;

  @media (max-width: $tablet) {
    padding: 0 0 0 210px;

    background-size: auto 345px;

    background-position: 3px 0;
  }

  @media (max-width: $mobile) {
    background-image: none;
    padding: 0 25px 0 15px;
  }
}

.about h2 {
  margin: 0 0 20px 0;

  font-weight: normal;
  font-family: $font-family-ui;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $tablet) {
    margin: 0 0 28px;

    font-weight: normal;
    font-size: 32px;
    line-height: 140.62%;
  }

  @media (max-width: $mobile) {
    margin-bottom: 20px;

    font-size: 28px;
  }
}

.about p {
  margin: 0 0 37px 0;
  max-width: 984px + 189px;

  font-size: 16px;
  line-height: 22px;

  .about__text-mobile-break {
    display: none;
  }

  @media (max-width: $tablet) {
    margin-left: 3px;
    padding-right: 25px;

    overflow: hidden;
    line-clamp: 9;
    box-orient: vertical;
    text-overflow: "...";
  }

  @media (max-width: $mobile) {
    -webkit-line-clamp: 16;
    margin-right: -15px;
    margin-bottom: 25px;
    padding-right: 0;

    .about__text-mobile-break {
      display: unset;
    }
  }
}

.about__button {
  min-width: 180px;
  min-height: 45px;
  color: $about-accent;

  border-color: $about-accent;
}
