.form {
  padding-top: 90px;
  padding-bottom: 112px;

  background-color: $form-bgc;
  background-image: url("../img/form-plane.png"),
    url("../img/hero-background-2.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 75% top 160px, right 86% top -61px;
  // right 732px top 160px,right 768px top -61px

  font-size: 14px;
  line-height: 16px;
  color: $form-color;

  @media screen and (min-resolution: 120dpi),
    screen and (min-resolution: 1.25dppx) {
    background-image: url("../img/form-plane@2x.png"),
      url("../img/hero-background-2.svg");
    background-size: 511px 288px;
  }

  @media (max-width: 1544px) {
    background-image: none;
  }

  @media (max-width: $tablet) {
    padding-top: 80px;
    padding-bottom: 105px;
  }

  @media (max-width: $mobile) {
    padding-top: 30px;
    padding-bottom: 12px;
  }
}

.form__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 31px;
  row-gap: 40px;
  justify-content: end;
  align-items: center;
  max-width: 570px;
  width: 100%;
  margin-left: auto;
  margin-right: 120px;

  @media (max-width: 1544px) {
    margin-right: auto;
  }

  @media (max-width: $tablet) {
    max-width: 590px;
  }

  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    row-gap: 0;
  }
}

.form__wrapper input:not([type="checkbox"]),
.form__wrapper textarea {
  resize: none;
  width: 100%;
  height: 50px;
  padding: 5px 20px 18px 20px;

  font-family: inherit;
  font-size: 16px;
  line-height: 150%;
  color: rgba($form-color, 0.9);

  border: none;
  background-color: rgba($form-color, 0.1);

  &:focus,
  &:hover {
    outline: 1px solid $white;
  }

  &::placeholder {
    font-family: inherit;
    font-size: 16px;
    line-height: 22px;
    color: $form-color;
  }

  @media (max-width: $tablet) {
    padding: 5px 20px 5px;
  }
}

.form__input-wrapper {
  cursor: pointer;

  @media (max-width: $mobile) {
    margin-bottom: 31px;
  }

  &--textarea {
    grid-column-start: span 2;

    @media (max-width: $mobile) {
      margin-bottom: 27px;
    }

    textarea {
      height: 150px;

      @media (max-width: $tablet) {
        height: 165px;
      }

      @media (max-width: $mobile) {
        height: 105px;
      }
    }
  }

  &--checkbox {
    display: flex;
    align-items: flex-start;
  }
}

.form__button {
  min-height: 45px;

  background-color: transparent;

  @media (max-width: $mobile) {
    margin-bottom: 32px;

    font-size: 14px;
    line-height: 16px;
  }

  &:hover,
  &:focus {
    background-color: white;
    border-color: $primary;
    color: $primary;
  }
}

.form__input-checkbox {
  flex: 0 0 16px;
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  margin-left: 10px;

  border: 1px solid $form-color;

  @media (max-width: $mobile) {
    margin-left: 0;
  }
}

.form__input-wrapper--checkbox input:checked ~ .form__input-checkbox {
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 2L3.5 5L8 0.5' stroke='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.form__input-wrapper--checkbox input:focus ~ .form__input-checkbox {
  outline: 2px solid $white;
}

.form__wrapper h2 {
  font-family: $font-family-ui;
  grid-column-start: span 2;
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $form-color;
  margin-bottom: -30px;

  @media (max-width: $tablet) {
    margin-bottom: -23px;

    font-size: 32px;
    line-height: 140.62%;
  }

  @media (max-width: $mobile) {
    margin-bottom: 12px;

    font-size: 28px;
    line-height: 140.62%;
  }
}

.form__wrapper p {
  grid-column-start: span 2;
  margin-top: 0;

  font-size: 16px;
  line-height: 22px;

  @media (max-width: $tablet) {
    margin-bottom: 12px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 26px;
  }
}

.form input[type="checkbox"] {
  margin-left: 20px;
  margin-top: 15px;

  @media (max-width: $mobile) {
    margin-left: 10px;
  }
}
