.header {
  background-color: $header-background;
  background-image: url("../img/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;

  @media screen and (min-resolution: 120dpi),
    screen and (min-resolution: 1.25dppx) {
    background-image: url("../img/hero-background@2x.png");
  }
}

.header__container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
  min-height: 52px + 2 * 31px;
  padding-top: 31px;
  padding-bottom: 31px;

  line-height: 18px;
  color: $white;

  @media (max-width: $tablet) {
    padding-top: 20px;
    padding-bottom: 10px;

    min-height: 50px;
  }
}

.header__logo {
  flex-grow: 1;
  flex-shrink: 0;

  @media (max-width: $mobile) {
    img {
      width: 38px;
      height: 38px;
    }
  }
}

@keyframes lighthouse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}

.header__link {
  color: inherit;
  vertical-align: middle;

  margin-right: 88px;
  opacity: 1;
  margin-bottom: 8px;
  margin-top: 8px;

  &:last-child {
    margin-right: 50px;
  }

  &:nth-last-child(2) {
    margin-right: 87px;
  }

  @media (max-width: $tablet) {
    &:not(:last-child) {
      margin-left: 7px;
      margin-right: 25px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &:hover,
  &:focus {
    .header__link-icon {
      transform: scale(1.3);
      transition: transform 0.3s ease-out;
    }

    animation: 0.9s ease-in 0.5s infinite alternate lighthouse;
  }
}

.header__link-icon-wrapper {
  margin-right: 4px;

  vertical-align: middle;

  &--mail {
    margin-right: 7px;
  }

  @media (max-width: $tablet) {
    margin-right: 0;
  }
}

.header__link-icon {
  @media (max-width: $tablet) {
    margin-right: 0;

    &--mail {
      width: 26px;
      height: 19px;
    }

    &--phone {
      width: 24px;
      height: 24px;
    }
  }
}

.header__link-text {
  @media (max-width: $tablet) {
    display: none;
  }
}

.header__request {
  order: 1;
  min-width: 180px;
  min-height: 45px;
  margin-left: auto;
  margin-bottom: 8px;
  margin-top: 8px;

  @media (max-width: $tablet) {
    display: none;
  }
}

.header__link-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;

  @media (max-width: $mobile) {
    margin-top: -10px;
  }
}

.header__buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
