.hero {
  padding: 197px 0 44px 0;

  color: $hero-color;

  background-image: url("../img/hero-background-2.svg");
  background-position: 84% 0%;
  background-repeat: no-repeat;
}

.hero__container {
  display: flex;
  flex-wrap: no wrap;
  width: 100%;
}

.hero__content {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  max-width: 718px;

  @media (max-width: $tablet) {
    max-width: 400px;
  }
}

.hero h1 {
  margin: 0 0 27px 0;

  font-family: $font-family-ui;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.hero p {
  position: relative;

  margin: 0 0 44px 0;
  font-size: 22px;
  line-height: 34px;
  padding: 0 0 0 94px;

  &::after {
    position: absolute;
    content: "";
    top: 16px;
    left: 1px;

    width: 66px;
    height: 2px;
    background-color: $hero-color;
  }
}

.hero__button {
  margin: 0 0 95px 96px;
  min-width: 407px;

  font-size: 16px;
  line-height: 19px;

  background-color: $hero-button-bgc;
}

.hero__scroll {
  font-size: 14px;
  line-height: 16px;
  color: inherit;
  writing-mode: tb-rl;

  opacity: 0.5;

  transform: rotate(-180deg);
}

.hero__image {
  position: relative;
  top: -56px;
  left: 71px;
  flex-shrink: 0;
}
