.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;

  font-family: $font-family;
  font-size: 16px;
  color: black;

  &--block {
    overflow: hidden;
  }
}

.page__header {
  flex: 0 0 auto;
}

.page__main {
  flex: 1 0 auto;
}

.page__footer {
  flex: 0 0 auto;
}

.page__features {
  margin-bottom: 103px;

  @media (max-width: $tablet) {
    margin-bottom: 47px;
  }
}

.page__about {
  margin-bottom: 111px;

  @media (max-width: $tablet) {
    margin-bottom: 83px;
  }
}
