.services {
  padding-bottom: 127px;

  background-color: $services-bgc;

  font-family: $font-family-ui;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: $tablet) {
    padding-bottom: 77px;
  }

  @media (max-width: $mobile) {
    padding-bottom: 65px;
  }
}

.services__container {
  max-width: 1200px;
  padding: 55px 15px 0 15px;

  @media (max-width: $tablet) {
    padding: 20px 25px 0 25px;
  }

  @media (max-width: $mobile) {
    padding: 20px 15px 0 15px;
  }
}

.services__link {
  padding: 33px 10px 10px 44px;
  flex-basis: 100%;

  color: $services-color;

  @media (max-width: $mobile) {
    padding: 19px 10px 10px 34px;
  }

  &::after {
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 63px;
    height: 63px;

    background-color: $services-accent;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 8.5L5 4.5L1 0.5' stroke='white' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
  }

  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .services__item:nth-child(3n + 1) &::before {
    background-image: url("../img/services-1.jpg");
    background-position: center;
    background-size: 1092px 729px;

    @media (max-width: $tablet) {
      background-size: 115%;
    }

    @media (max-width: $mobile) {
      background-size: 150%;
    }

    @media screen and (min-resolution: 120dpi),
      screen and (min-resolution: 1.25dppx) {
      background-image: url("../img/services-1@2x.jpg");
    }
  }

  .services__item:nth-child(3n + 2) &::before {
    background-image: url("../img/services-2.jpg");
    background-position: center;
    background-size: 1012px 675px;

    @media (max-width: $tablet) {
      background-size: 300%;
    }

    @media screen and (min-resolution: 120dpi),
      screen and (min-resolution: 1.25dppx) {
      background-image: url("../img/services-2@2x.jpg");
    }
  }

  .services__item:nth-child(3n + 3) &::before {
    background-image: url("../img/services-3.jpg");
    background-position: center;
    background-size: 620px 620px;

    @media (max-width: $tablet) {
      background-size: 170%;
    }

    @media screen and (min-resolution: 120dpi),
      screen and (min-resolution: 1.25dppx) {
      background-image: url("../img/services-3@2x.jpg");
    }
  }
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 623px;
  justify-items: center;
  row-gap: 46px;
  column-gap: 30px;
  margin: 0;
  padding: 0;
  width: 100%;

  list-style: none;

  @media (max-width: $tablet) {
    grid-template-columns: initial;
    grid-template-rows: initial;
    grid-auto-rows: 256px;
  }

  @media (max-width: $mobile) {
    row-gap: 30px;
  }
}

.services__item {
  position: relative;

  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: stretch;
  padding: 0;

  &:hover {
    outline: 3px solid $services-accent;
  }
}

.services h2 {
  margin: 29px 0 53px 0;

  font-family: $font-family-ui;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: $services-color;

  @media (max-width: $tablet) {
    font-size: 32px;
    line-height: 140.62%;
  }

  @media (max-width: $mobile) {
    padding-left: 10px;
    margin-bottom: 43px;

    font-size: 28px;
  }
}

.services p {
  font-family: $font-family-ui;
  font-size: 20px;
  line-height: 30px;
  color: $services-color;

  overflow: hidden;
}
