.social {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.social__logo {
  margin-bottom: 45px;
  margin-right: 10px;

  @media (max-width: $tablet) {
    order: 0;
    flex-basis: 40%;
    margin-bottom: 0;
  }

  @media (max-width: $mobile) {
    flex-basis: 100%;
    margin-bottom: 21px;
  }
}

.social__list {
  display: flex;
  margin-top: 5px;

  @media (max-width: $tablet) {
    flex-basis: 18%;
    order: 2;
    margin-right: -20px;
  }

  @media (max-width: $mobile) {
    flex-basis: 100%;
    margin-top: 32px;
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.social__item {
  &:not(:last-child) {
    margin-right: 15px;
  }

  svg {
    fill: $social-icon;
  }

  &:hover,
  &:focus {
    svg {
      fill: $primary;
    }
  }

  &:active {
    opacity: 0.7;
  }
}
