.social {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.social__logo {
  flex-basis: 100%;
  margin-bottom: 45px;

  @media (max-width: $tablet) {
    order: 1;
  }
}

.social__list {
  @media (max-width: $tablet) {
    order: 3;
  }
}

.social__item {
  margin-right: 6px;
}
