$font-family: "Open Sans", verdana, sans-serif;

// BREAKPOINTS

$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;
$large: 1280px;

// COLORS

$primary: #0ad9c6;
$error: #e98e3c;
$white: #ffffff;
$black: #000000;
$title: #1f1f1f;

$header-bgc: #0d0d0d;
$header-bgc-active: $white;
$nav-link: $white;
$nav-border: $white;
$nav-link-bgc-active: #f6f6f6;
$nav-link-active: #48494d;
$nav-link-icon: #91929b;
$nav-link-hover: $primary;
$toggle-bgc: $primary;
$toggle: $black;
$toggle-close: #d3d3d4;

$address-header: $title;
$address: $black;
$contacts-icon: $primary;
$contacts-link: $black;
$contacts-hover: $primary;

$hero: $white;
$form-tablet: $black;
$form-focus: $primary;
$form-invalid: #e98e3c;
$button-bgc: $primary;
$button: $black;
$input: #1c1c1c;
$input-border: #c9ccd4;
$input-bgc: $white;

$about-counter: $primary;
$about-header: $title;

$types-bgc: #f6f7f9;
$types-decor: $primary;

$video-bgc: #131314;
$video-title: $white;
$video-desc: $white;
