$font-family: "PT Mono", courier, monospace;
$font-family-ui: "Roboto Condensed", georgia, serif;

// BREAKPOINTS

$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;
$large: 1280px;

// COLORS

$primary: #00b2ff;
$error: #e98e3c;
$white: #ffffff;
$black: #000000;
$title: #1f1f1f;

$white: #ffffff;

$header-background: #1b2d37;

$hero-background: #1b2d37;
$hero-color: $white;
$hero-button-bgc: $primary;

$features-color: #666666;
$features-accent: $primary;
$features-border: #ebebeb;
$features-color-hover: $white;

$about-color: #666666;
$about-accent: $primary;

$services-bgc: #1b2d37;
$services-color: $white;
$services-accent: $primary;

$form-color: $white;
$form-bgc: $primary;
$form-input-text: #00609d;

$footer-color: #1b2d37;
$footer-bgc: #fafafa;
$footer-divider: #626962;

$social-icon: #cdcdcd;
